@theme {
	--font-Inter: 'Inter', sans-serif;
	--font-Tinos: 'Tinos', Times, Times New Roman, serif;

	--color-text: #bbb;
	--color-text-highlight: #ddd;
	--color-text-tag: #999;
	--color-background: black;
	--color-blog-collapse-color: black;
	--color-popover-background: #222;
	--color-counter: #a11;
	--color-blog-post-summary: #888;
	--color-tooltip-bg: #ddd;
	--color-tooltip-text: #222;

	--z-index-blog: 40;
	--z-index-sticky: 50;
	--z-index-popover: 60;
}
