@theme {
	--font-Inter: 'Inter', sans-serif;
	--font-Tinos: 'Tinos', Times, Times New Roman, serif;

	--color-background: black;
	--color-text: #bbb;
	--color-text-highlight: #ddd;
	--color-text-tag: #999;
	--color-blog-collapse-color: theme(colors.gray.900);
	--color-blog-collapse-color-hover: theme(colors.gray.800);
	--color-popover-background: #222;
	--color-counter: #a11;
	--color-tooltip-bg: #ddd;
	--color-tooltip-text: #222;
	--color-blog-post-card: theme(colors.gray.900);
	--color-blog-post-question-bg: theme(colors.gray.800);
	--color-blog-post-summary: #888;
	--color-blog-post-link-border: theme(colors.gray.500);

	--z-index-blog: 40;
	--z-index-sticky: 50;
	--z-index-popover: 60;
	--z-index-zoomed-post-backdrop: 70;
	--z-index-zoomed-post: 80;
}
